<div class="content">
  <h1><a target="_blank" href="https://slides.com/kostyamalikov/angular-future-with-ivy#/31">Angular Elements 9-rc7</a></h1>

  <h2>Simple representation of <br>Angular Elements</h2>

  <h3>1. Check your generated "./dist/index.html" <br> </h3>
  <h3>2. You will see that angular element is included (loaded) via html tag plus script <br> </h3>

  <h4>{{script}} <br> {{element}} </h4>

  <h3>3. This string is from a custom element's input-field named "text"</h3>
  <h4>{{text}}</h4>

  <h3>4. Via line below you built and run a server to make sure it works outside of Angular! Check implementation in package.json</h3>
  <h3>check script line: "go"</h3>

  <br>

<div class="cards-list">

  <div class="card 1">
    <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
    <div class="card_title title-white">
      <p>Card Title</p>
    </div>
  </div>
  
    <div class="card 2">
    <div class="card_image">
      <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
      </div>
    <div class="card_title title-white">
      <p>Card Title</p>
    </div>
  </div>
</div>


